body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size:50px;
}
.hi{
    color:orange;
}
#main-section{
    display:flex;
    padding:0 59px;
    background-image:url('top-banner.png');
    background-repeat:no-repeat;
    margin-bottom:150px;
}
.half-width{
    width:50%;
    
}

.half-width img{
    width:80%;
    padding:30px 5px 0 0;
    margin-left:60px; 
}

.btn-1 {
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding:5px 20px;
    border-radius:5px;
}
#two-section{
    display:flex;
    background-image:url('dream-bg.png');
    background-repeat:no-repeat;
    background-position:right;
}
#third-section{
    text-align:center;
    padding:100px 0 100px;
}
.experians{
    display:flex;
}
.experi-item{
    width:40%;
    box-shadow: 10px 10px 40px gray;
    margin:0 10%;
    padding:10px 12px;
    border-radius:10px;
}
.color-1{
    border-left:6px solid;
    border-image:linear-gradient(blue, orange);
    border-image-slice:1;
}
.color-2{
    border-left:6px solid;
    border-image:linear-gradient(red, orange, green);
    border-image-slice:1;
}
footer{
    text-align:center;
}